<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>alert-circle</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>alert-triangle</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>align-center</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>anchor</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>aperture</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>activity</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>arrow-down-circle</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>arrow-down-left</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>arrow-down-right</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>arrow-down</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>arrow-left</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>arrow-right-circle</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>arrow-right</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>folder</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
